.mycards {
  box-shadow: inset;
}
.van-card {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  border-radius: 10px;
  box-shadow: 10;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
}
.van-card__title {
  font-size: 18px;
  line-height: 30px;
}
.van-card__price {
  color: #ff6458;
  font-size: 10px;
}
.card-title,
.star-icon {
  font-size: 4.8vw;
  line-height: 8vw;
  font-weight: var(--van-font-bold);
}
.title-container {
  display: flex;
  justify-content: space-between;
}
.tag {
  margin-left: 2px;
}
.button {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  border: none;
  font-weight: bold;
  color: #1a2232;
}
